.description {
  font-size: 14px;
}

.readMoreBtn {
  cursor: pointer;
  font-size: 14px;
  background-color: #502e2d;
  color: #e7a545;
  display: inline-block !important;
  width: 40%;
  margin: 0 auto;
  transition: transform 0.3s;
}

.readMoreBtn:hover {
  color: #e7a545;
}

.readMoreBtn:active {
  transform: translateY(3px);
}

.relatedHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.relatedHeader::after {
  content: "";
  display: block;
  background-color: #502e2d;
  height: 1px;
  width: 27%;
}

.relatedHeader::before {
  content: "";
  display: block;
  background-color: #502e2d;
  height: 1px;
  width: 27%;
}

.addToMyBasketButton {
  width: 25% !important;
}

.Relatedbooks {
  max-width: 540px;
}

@media screen and (max-width: 1200px) {
  .addToMyBasketButton {
    width: 40% !important;
    display: block;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .Relatedbooks {
    width: 25rem !important;
    max-width: none !important;
    margin: 0 auto;
  }
  .Relatedbooks > div {
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .addToMyBasketButton {
    width: 50% !important;
  }
  .Relatedbooks {
    width: 15rem !important;
  }
}
